.label {
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-padding: 10 14;
    -fx-background-radius: 30;
    -fx-pref-height: 38;
    -fx-pref-width: 360;
}